# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so
# Distribution / packaging
/.vscode
/FmPyIOT.code-workspace
*/firmware
*.uf2
Thumbs.db
/_bricolos
*.mpy
pymakr.conf
_credentials.py
credentials.py
